// Theme colors variables
//^ Light
$light-success: #00FFAB;
$light-warning: #FFAB76;
$light-danger: #FF6363;
$light-primary: #40DFEF;
$light-navy: #354259;
$light-desert: #E7D4B5;

//^ Dark
$dark-success: #4E9F3D;
$dark-warning: #ECB365;
$dark-danger: #FF0000;
$dark-primary: #7858A6;
$dark-olive: #8B9A46;
$dark-brown: #171010;


// Dimensions variables. Those follow the binary standard. Those are all static

$minimal: 1px;
$micro: 2px;
$very-small: 4px;
$small: 8px;
$generic: 16px;
$big: 32px;
$very-bug: 64px;
$huge: 128px;
$enormous: 256px;


// error page color add
$black: #000;
$white:#fff;
$btn-home-bg-c:#ff6060;
$btn-search-bg-c:#ffd042;
// error page color end


//social colors
$fb: #50598e;
$twitter: #6fa2d8;
$google-plus: #c64e40;
$linkedin: #0077B5;